<div class="product recipe-list-item">

    <div class="recipe-cover">
        <img src="https://instagram.fcgh8-1.fna.fbcdn.net/v/t39.30808-6/385004914_18276687688194412_4941409633508143913_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyIn0&_nc_ht=instagram.fcgh8-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=ntMFTjV7IPIAX_wqx5r&edm=ACWDqb8AAAAA&ccb=7-5&ig_cache_key=MzIwMjY0MjM2Mzc2MjYzNDIzMw%3D%3D.2-ccb7-5&oh=00_AfAO3gdm8yhyCS1BbsCCG2c_E5BjCkMyezh4v76-kHQdew&oe=6581536A&_nc_sid=ee9879"
            alt="product1">
    </div>

    <div class="product-title-container">
        <h2 class="product-title">{{ recipe.title }}</h2>
    </div>

    <div class="product-author">
        <span class="product-author-item">
            <i class="fas fa-user"></i>
            {{ recipe.author.first_name }} {{ recipe.author.last_name }}
        </span>

        <span class="product-author-item">
            <i class="fas fa-calendar-alt"></i>
            20/Nov/2023 as 18:06:26
        </span>

        <span class="product-author-item">
            <a href="/recipes/category/cafe-da-manha/">
                <i class="fas fa-layer-group"></i>
                <span>Piteira</span>
            </a>
        </span>
    </div>

    <div class="product-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat commodi ullam quas modi.
            Ea cumque labore veniam, sequi corrupti quas beatae fuga alias quae, vero dicta accusamus
            aliquam in!</p>
    </div>

    <div class="product-meta-container">
        <div class="product-meta product-preparation">
            <h3 class="product-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="product-meta-text">
                0 Minutos
            </div>
        </div>

        <div class="product-meta product-servings">
            <h3 class="product-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="product-meta-text">
                0 Porções
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="product-footer">
        <a class="product-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>